<div class="row">
  <div class="col-md-4 col-md-offset-4" >
    <div class="name">eSenior Care</div>
    <h1 class="headline">Welcome</h1>
    <h2 class="headline2">Please login to continue</h2>
    <div class="well loginView">
      <form name="form" role="form" ng-submit="vm.login()">
        <div class="form-group">
          <div ng-show="loginError" class="alert alert-danger">{{loginError}}</div>
        </div>
        <div class="form-group">
          <label for="login__username">Username</label>
          <input type="text" class="form-control" name="username" id="login__username" ng-model="username" placeholder="" required/>
          <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block important">Username is required</span>
        </div>

        <div class="form-group">
          <label for="login__password">Password</label>
          <input type="password" class="form-control" id="login__password" ng-model="password" placeholder="" required/>
          <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block important">Password is required</span>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || dataLoading" v-busy="dataLoading" v-busy-label="Sign in" v-pressable>Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
